<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/img/fashion/Shirt2.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Account Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Account</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-login">
                                <h4>Login</h4>
                                
                                <form action="/Account/Login" method="post" class="aa-login-form">
                                    <label for="">Username:<span>*</span></label>
                                    <input type="text" name="TaiKhoan" placeholder="Username">
                                    <label for="">Password<span>*</span></label>
                                    <input type="password" name="MatKhau" placeholder="Password">
                                    <button type="submit" class="aa-browse-btn">Login</button>
                                </form>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Register</h4>
                                <form action="/Account/Register" method="post" class="aa-login-form">
                                    <label for="">Username<span>*</span></label>
                                    <input type="text" name="TaiKhoan" placeholder="Username">
                                    <label for="">Password<span>*</span></label>
                                    <input type="password" name="MatKhau" placeholder="Password">
                                    <label for="">Repeat Password<span>*</span></label>
                                    <input type="password" name="NhapLaiMatKhau" placeholder="Repeat password ">
                                    <label for="">Your Name</label>
                                    <input type="text" name="HoTen" placeholder="Your name">
                                    <label for="">Address</label>
                                    <input type="text" name="DiaChi" placeholder="Address">
                                    <label for="">Email</label>
                                    <input type="text" name="Email" placeholder="Email">
                                    <label for="">Phone Number</label>
                                    <input type="text" name="DienThoai" placeholder="Phone number">

                                    <button type="submit" class="aa-browse-btn">Register</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->


@*<div class="col-md-6">
    <div class="aa-myaccount-register">
        <h4>Register</h4>
        <form action="/Account/Register" method="post" class="aa-login-form">
            <label for="">Username<span>*</span></label>
            <input type="text" name="TaiKhoan" placeholder="Username">
            <label for="">Password<span>*</span></label>
            <input type="password" name="MatKhau" placeholder="Password">
            <label for="">Repeat Password<span>*</span></label>
            <input type="password" placeholder="Repeat password ">
            <label for="">Your Name</label>
            <input type="text" name="HoTen" placeholder="Your name">
            <label for="">Address</label>
            <input type="text" name="DiaChi" placeholder="Address">
            <label for="">Email</label>
            <input type="text" name="Email" placeholder="Email">
            <label for="">Phone Number</label>
            <input type="text" name="DienThoai" placeholder="Phone number">

            <button type="submit" class="aa-browse-btn">Register</button>

        </form>
    </div>
</div>*@